table th{
  background-color: #f0babd;
  padding: 10px 20px;
}

table td{
  background-color: #f9ecd5;
  padding: 10px 20px;
}

.notice{
  background-color: #ccf;
  padding: 5px;
}

.top{
  background-color: #b41414ea;
  color: white;
  padding: 20px 20px;
}

.bottom{
  background-color: #b41414ea;
  color: white;
  padding: 20px 20px;
}

ul {
  list-style: none;
}

